@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source Code Pro:wght@550&display=swap");

font-family:Lato, Arial, sans-serif;

:root,
.theme-dark {
    --font: "Lato";
    --code-font: "Source Code Pro";
    --boost-bar: none;
}
